---
import { ScrollArea } from '@/components/ui/scroll-area'
import type { TOCSection } from '@/lib/utils'
import type { IngredientsList, Ingredient, Group } from '@/lib/recipes-utils'
import { Icon } from 'astro-icon/components'

type Props = {
  sections: TOCSection[]
  ingredientsList: IngredientsList
  currentPostId: string
}

const { ingredientsList } = Astro.props
const groups = ingredientsList.ingredients
---

{
  groups.length > 0 && (
    <div
      id="toc-sidebar-container"
      class="sticky top-20 col-start-1 row-span-1 mr-8 ml-auto hidden h-[calc(100vh-5rem)] max-w-md xl:block"
    >
      <ScrollArea
        client:load
        className="flex max-h-[calc(100vh-8rem)] flex-col overflow-y-auto"
        type="hover"
        data-toc-scroll-area
      >
        {groups.map((group: Group) => (
          <div class="flex flex-col gap-2 px-4 mb-2">
            <span class="text-lg font-medium">{group.name}</span>
              <ul class="flex list-none flex-col gap-y-2">
                {group.list.map((ingredient: Ingredient) => (
                  <li class="mb-1">
                      <div class="ingredient-item font-mono border-b bg-accent/25 flex items-center hover:bg-accent px-2 rounded justify-between" data-slug={ingredient.slug}>
                        <div class="flex items-center">
                          <Icon name="lucide:circle-dashed" class="size-4 mr-3" />
                          <span>{ingredient.name}</span><Icon name="lucide:chevron-right" class="size-4 mr-4 ml-1" />
                        </div>
                        <div class="qty text-sm">
                          <span>{ingredient.quantity+" "}</span>
                          <span>{ingredient.unit}</span>
                        </div>
                      </div>
                      {ingredient.notes && (
                        <div class="note text-sm text-foreground/50 px-2">
                          <span>{ingredient.notes}</span>
                        </div>
                      )}
                  </li>
                ))}
              </ul>
          </div>
        ))}
        
      </ScrollArea>
    </div>
  )
}
