---
import Link from '@/components/Link.astro'
import { Image } from 'astro:assets'
import type { Social } from '@/lib/utils'

interface Props {
  social: Social,
  key: number
}

const { social, key } = Astro.props

console.log(social)
---

<div
  class="hover:bg-accent/50 rounded-xl border p-4 transition-colors duration-300 ease-in-out bg-white dark:bg-secondary dark:hover:bg-accent"
  id={"social-"+`${key}`}
>
  <Link
    href={social.link}
    class="flex flex-col gap-4 sm:flex-row"
    external
  >
    {
      social.image && (
        <div class="max-w-3xs sm:shrink-0">
          <Image
            src={social.image}
            alt={social.name}
            width={1200}
            height={630}
            class="object-cover"
          />
        </div>
      )
    }
    <div class="grow">
      <h3 class="mb-1 text-lg font-medium">
        {social.name}
      </h3>
      <p class="text-muted-foreground mb-2 text-sm">
        {social.description}
      </p>
    </div>
  </Link>
</div>
